<!DOCTYPE html>
<html lang="en">





<body>

  
    <%- include ('../includes/header.ejs') %>
    <%- include ('../includes/nav.ejs') %> 
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Decline Donor</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <% for (var i = 0; i < list.length; i++){ %>
                        <form method="POST" action="">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                       
                                        <label>User ID</label>
                                        <input class="form-control" type="text" name="userid" value="<%= list[i].userid %>">
                                    </div>
                                </div>
                           
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        
                                        <label>Donor ID</label>
                                        
                                        <input class="form-control " type="text" name="donorid" value="<%= list[i].donorid %>">
                                    
                                    </div>
                                </div>
                                
                            </div>
                            
                           
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn" href="/userrequests">Decline Donor</button>
                                <% } %>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


			
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
     <script src="/assets/js/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/select2.min.js"></script>
	<script src="/assets/js/moment.min.js"></script>
	<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/assets/js/app.js"></script>
</body>


<!-- add-asset24:09-->
</html>
