<!DOCTYPE html>
<html lang="en">





<body>

  
    <%- include ('../includes/header.ejs') %>
    <%- include ('../includes/nav.ejs') %> 
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-7 col-6">
                        <h4 class="page-title">My Profile</h4>
                    </div>

                    <div class="col-sm-5 col-6 text-right m-b-30">
                        
                    </div>
                </div>
                <div class="card-box profile-header">
                    <div class="row">
                        <% for (var i = 0; i < list.length; i++){ %>
                    <form action="" method="post">

                        <div class="form-group">
                            <label for="">Username</label>
                               <input class="form-control" type="text" name="username" value="<%= list[i].username%>">
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                               <input class="form-control" type="email" name="email" value="<%= list[i].email%>">
                        </div>

                        <div class="form-group">
                            <label for="">password</label>
                               <input class="form-control" type="text" name="password" >
                        </div>

                        <div class="form-group">
                            <label for="">New Password</label>
                               <input class="form-control" type="text" name="new_password">
                        </div>

                        <button class="btn btn-primary btn-rounded">Edit Profile</button>
                        <% } %>
                    </form>
                       
                    </div>
                </div>
			
            
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/app.js"></script>
</body>


<!-- profile23:03-->
</html>